*{
	margin: 0px;
	padding: 0px;
}
.tree {
	margin: 0 auto;
	overflow: scroll;
	height: 100%;
    border:1px solid #999;
    overflow-x: hidden;
}
.tree ul{
    margin-left: 5%;
}
.tree li {
    list-style-type:none;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
}
.tree li::before {
    border-left:1px solid #999;
    height:100%;
    top:0;
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    word-break:break-all;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    color:#000
}

.tree .badge-important{
    background-color: #ff9800;
    border: none;
}

.tree .badge-success{
    background-color: #009688;
    border: none;
}

.tree::-webkit-scrollbar {
      width:10px;
      height:10px;
}
.tree::-webkit-scrollbar-track{
     background:rgba(153, 153, 153, 0.3);
 }
.tree::-webkit-scrollbar-thumb{
    background:#999;
}