<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.MaterialUseDAO">

	<resultMap id="materialUseResultMap" type="materialUse">
		<id column="materialUseId" property="materialUseId"/>
		<result column="recordId" property="recordId"/>
		<result column="accId" property="accId"/>
		<result column="accCount" property="accCount"/>
		<result column="muCreatedTime" property="muCreatedTime"/>
		<result column="muUseDate" property="muUseDate"/>
		<association property="accessories" javaType="com.gs.bean.Accessories">
			<id property="accId" column="accId"/>
		</association>
	</resultMap>

	<insert id="insert"  parameterType="materialUse">
		<![CDATA[

		]]>
	</insert>

	<insert id="batchInsert"  parameterType="list">
		<![CDATA[

		]]>
	</insert>

	<delete id="delete" parameterType="materialUse">
		<![CDATA[

		]]>
	</delete>

	<delete id="deleteById" parameterType="string">
		<![CDATA[

		]]>
	</delete>

	<delete id="batchDelete" parameterType="list">
		<![CDATA[

		]]>
	</delete>

	<update id="update" parameterType="materialUse">
		<![CDATA[

		]]>
	</update>

	<update id="batchUpdate" parameterType="list">
		<![CDATA[

		]]>
	</update>

	<select id="queryAll" resultMap="materialUseResultMap">
		<![CDATA[

		]]>
	</select>

	<select id="queryByStatus" resultMap="materialUseResultMap" parameterType="string">
		<![CDATA[

		]]>
	</select>

	<select id="query" parameterType="materialUse" resultType="materialUse">
		<![CDATA[

		]]>
	</select>

	<select id="queryById" parameterType="string" resultType="materialUse">
		<![CDATA[

		]]>
	</select>

	<select id="queryByPager" resultType="list" resultMap="materialUseResultMap" parameterType="com.gs.common.bean.Pager">
		<![CDATA[

		]]>
	</select>

	<select id="count" resultType="int">
		<![CDATA[

		]]>
	</select>

	<update id="inactive" parameterType="string">
		<![CDATA[

		]]>
	</update>

	<update id="active" parameterType="string">
		<![CDATA[

		]]>
	</update>

	<select id="queryByConditionUse"  resultType="list" resultMap="materialUseResultMap">
		<![CDATA[
			select sum(mu.accCount) as accCount ,mu.muCreatedTime from t_material_use mu, t_accessories a
            where  mu.accId = a.accId and a.accStatus = 'Y' and
           	mu.muCreatedTime >= #{startTime} and mu.muCreatedTime <= #{endTime}
		]]>
		<if test="companyId != null and companyId != ''">
			and a.companyId = #{companyId}
		</if>
		<if test="accTypeId != null and accTypeId != ''">
			and a.accTypeId = #{accTypeId}
		</if>
		<if test="type =='year'">
			GROUP BY year(mu.muCreatedTime)
		</if>
		<if test="type =='quarter'">
			GROUP BY quarter(mu.muCreatedTime)
		</if>
		<if test="type =='month'">
			GROUP BY month(mu.muCreatedTime)
		</if>
		<if test="type =='week'">
			GROUP BY week(mu.muCreatedTime)
		</if>
		<if test="type =='day'">
			GROUP BY day(mu.muCreatedTime)
		</if>
	</select>

</mapper>
